# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
    - 202???
    - 201???

pr:
  branches:
    include:
    - master
    - 202???
    - 201???

variables:
  - name: BUILD_BRANCH
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      value: $(System.PullRequest.TargetBranch)
    ${{ else }}:
      value: $(Build.SourceBranchName)
  - name: UNIT_TEST_FLAG
    value: 'ENABLE_TRANSLIB_WRITE=y'

resources:
  repositories:
  - repository: sonic-mgmt-common
    type: github
    name: sonic-net/sonic-mgmt-common
    endpoint: sonic-net
    ref: refs/heads/$(BUILD_BRANCH)
  - repository: sonic-swss-common
    type: github
    name: sonic-net/sonic-swss-common
    endpoint: sonic-net
    ref: refs/heads/$(BUILD_BRANCH)

stages:
- stage: Build
  jobs:
  # Fast pure package testing - no SONiC dependencies needed
  - job: PureCIJob
    displayName: "Pure Package CI"
    timeoutInMinutes: 15

    pool:
      vmImage: ubuntu-22.04

    variables:
      GO_VERSION: '1.19.8'

    steps:
    - checkout: self
      clean: true
      displayName: 'Checkout code'

    - script: |
        wget https://go.dev/dl/go$(GO_VERSION).linux-amd64.tar.gz
        sudo tar -C /usr/local -xzf go$(GO_VERSION).linux-amd64.tar.gz
        export PATH=$PATH:/usr/local/go/bin
        go version
      displayName: 'Install Go'

    - bash: |
        set -euo pipefail
        export PATH=$PATH:/usr/local/go/bin
        go install gotest.tools/gotestsum@v1.11.0
        mkdir -p test-results
        gotestsum \
          --format testname \
          --junitfile "$(System.DefaultWorkingDirectory)/test-results/junit-pure.xml" \
          -- -v -race -coverprofile=test-results/coverage-pure.txt \
          -covermode=atomic \
          ./internal/exec ./pkg/gnoi/debug ./internal/diskspace \
          ./internal/hash ./internal/download ./internal/firmware \
          ./pkg/interceptors ./pkg/server/operational-handler \
          ./pkg/gnoi/file ./pkg/exec ./pkg/gnoi/os ./pkg/gnoi/system
      displayName: 'Run Pure Package Tests (gotestsum -> JUnit)'

    - task: PublishTestResults@2
      displayName: 'Publish Pure Package Test Results'
      condition: always()
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '$(System.DefaultWorkingDirectory)/test-results/junit-pure.xml'
        failTaskOnFailedTests: true
        publishRunAttachments: true
        testRunTitle: 'Pure Package Tests'

  # Memory leak testing with address sanitizer
  - job: MemoryLeakJob
    displayName: "Memory Leak Tests"
    timeoutInMinutes: 45

    pool:
      name: sonicso1ES-amd64
      vmImage: ubuntu-22.04

    variables:
      DIFF_COVER_CHECK_THRESHOLD: 80
      DIFF_COVER_ENABLE: 'true'
      DIFF_COVER_WORKING_DIRECTORY: $(System.DefaultWorkingDirectory)/sonic-gnmi
      UNIT_TEST_FLAG: 'ENABLE_TRANSLIB_WRITE=y'

    container:
      image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bookworm:latest

    steps:
    - checkout: self
      clean: true
      submodules: recursive
      displayName: 'Checkout code'

    - checkout: sonic-mgmt-common
      clean: true
      submodules: recursive
      displayName: 'Checkout sonic-mgmt-common'

    - checkout: sonic-swss-common
      clean: true
      submodules: recursive
      displayName: 'Checkout sonic-swss-common'

    # Comment out for fast iteration - can be re-enabled later
    # [Dependencies installation steps would go here]
    
    # - script: |
    #     pushd sonic-gnmi
    #     make all && make check_memleak $(UNIT_TEST_FLAG)
    #   displayName: "Check memory leak"

    # Placeholder for memory leak tests - currently disabled for fast iteration
    - script: |
        echo "Memory leak tests placeholder - test steps commented out for fast iteration"
        echo "To enable memory leak testing, uncomment the build and test steps above"
      displayName: 'Memory leak tests placeholder'

  # Full integration testing with SONiC dependencies
  - job: IntegrationCIJob
    displayName: "Integration CI"
    timeoutInMinutes: 60

    pool:
      name: sonicso1ES-amd64
      vmImage: ubuntu-22.04

    variables:
      DIFF_COVER_CHECK_THRESHOLD: 80
      DIFF_COVER_ENABLE: 'true'
      DIFF_COVER_WORKING_DIRECTORY: $(System.DefaultWorkingDirectory)/sonic-gnmi

    container:
      image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bookworm:latest

    steps:
    - checkout: self
      clean: true
      submodules: recursive
      displayName: 'Checkout code'

    - checkout: sonic-mgmt-common
      clean: true
      submodules: recursive
      displayName: 'Checkout sonic-mgmt-common'

    - checkout: sonic-swss-common
      clean: true
      submodules: recursive
      displayName: 'Checkout sonic-swss-common'

    # Integration tests have been separated from pure package tests
    # Pure package CI now runs in the separate PureCIJob above
    # The steps below are for integration testing with SONiC dependencies
    # Currently commented out for fast iteration during development
    # Re-enable these steps for full integration testing before merge
    
    # Comment out for fast iteration - can be re-enabled later
    # - task: DownloadPipelineArtifact@2
    #   inputs:
    #     source: specific
    #     project: build
    #     pipeline: 142
    #     artifact: sonic-buildimage.vs
    #     runVersion: 'latestFromBranch'
    #     runBranch: 'refs/heads/$(BUILD_BRANCH)'
    #     patterns: |
    #         target/debs/bookworm/libyang*.deb
    #         target/debs/bookworm/libnl*.deb
    #         target/python-wheels/bookworm/sonic_yang_models*.whl
    #   displayName: "Download bookworm debs"

    # Comment out for fast iteration - can be re-enabled later
    # - script: |
    #     # PYTEST
    #     sudo pip3 install -U pytest
    #     sudo pip3 install -U jsonpatch
    #
    #     # REDIS
    #     sudo apt-get update
    #     sudo apt-get install -y redis-server
    #     sudo sed -ri 's/^# unixsocket/unixsocket/' /etc/redis/redis.conf
    #     sudo sed -ri 's/^unixsocketperm .../unixsocketperm 777/' /etc/redis/redis.conf
    #     sudo sed -ri 's/redis-server.sock/redis.sock/' /etc/redis/redis.conf
    #     sudo service redis-server start
    #
    #     # LIBYANG
    #     sudo dpkg -i ../target/debs/bookworm/libyang*1.0.73*.deb
    #   displayName: "Install dependency"
    #
    # - script: |
    #     # SONIC YANGS
    #     set -ex
    #     sudo pip3 install ../target/python-wheels/bookworm/sonic_yang_models-1.0-py3-none-any.whl
    #   displayName: "Install sonic yangs"
    #
    # - script: |
    #     # LIBSWSSCOMMON
    #     sudo apt-get -y purge libnl-3-dev libnl-route-3-dev
    #     sudo dpkg -i ../target/debs/bookworm/libnl-3-200_*.deb
    #     sudo dpkg -i ../target/debs/bookworm/libnl-genl-3-200_*.deb
    #     sudo dpkg -i ../target/debs/bookworm/libnl-route-3-200_*.deb
    #     sudo dpkg -i ../target/debs/bookworm/libnl-nf-3-200_*.deb
    #   displayName: "Install libswsscommon dependencies"
    #
    # - script: |
    #     set -ex
    #     # Install .NET CORE
    #     curl -sSL https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
    #     sudo apt-add-repository https://packages.microsoft.com/debian/12/prod
    #     sudo apt-get update
    #     sudo apt-get install -y dotnet-sdk-8.0
    #   displayName: "Install .NET CORE"
    #
    # - task: DownloadPipelineArtifact@2
    #   inputs:
    #     source: specific
    #     project: build
    #     pipeline: Azure.sonic-swss-common
    #     artifact: sonic-swss-common-bookworm
    #     runVersion: 'latestFromBranch'
    #     runBranch: 'refs/heads/$(BUILD_BRANCH)'
    #   displayName: "Download sonic-swss-common"

    # Comment out for fast iteration - can be re-enabled later
    # - script: |
    #     set -ex
    #     # LIBSWSSCOMMON
    #     sudo dpkg -i libswsscommon_1.0.0_amd64.deb
    #     sudo dpkg -i libswsscommon-dev_1.0.0_amd64.deb
    #     sudo dpkg -i python3-swsscommon_1.0.0_amd64.deb
    #   workingDirectory: $(Pipeline.Workspace)/
    #   displayName: 'Install libswsscommon package'
    #
    # - script: |
    #     sudo apt-get install -y protobuf-compiler
    #     protoc --version
    #   displayName: 'Install protoc'
    #
    # - script: |
    #     set -ex
    #     ls -l
    #
    #     pushd sonic-mgmt-common
    #
    #     NO_TEST_BINS=1 dpkg-buildpackage -rfakeroot -b -us -uc
    #
    #     popd
    #
    #     pushd sonic-gnmi
    #
    #     ENABLE_TRANSLIB_WRITE=y dpkg-buildpackage -rfakeroot -us -uc -b -j$(nproc) && cp ../*.deb $(Build.ArtifactStagingDirectory)/
    #   displayName: "Build"
    #
    # - script: |
    #     pushd sonic-gnmi
    #     # Run pure package tests first (no dependencies needed)
    #     make -f pure.mk azure-coverage
    #     # Then run regular tests
    #     make all && make check_gotest $(UNIT_TEST_FLAG)
    #   displayName: "Run unit test"

    # Placeholder for integration job - currently disabled for fast iteration
    - script: |
        echo "Integration CI job placeholder - build and test steps commented out for fast iteration"
        echo "To enable full integration testing, uncomment the build and test steps above"
      displayName: 'Integration CI placeholder'

    # Comment out for fast iteration - can be re-enabled later
    # - publish: $(Build.ArtifactStagingDirectory)/
    #   artifact: sonic-gnmi
    #   displayName: "Archive artifacts"
    #
    # - task: PublishCodeCoverageResults@1
    #   inputs:
    #     codeCoverageTool: Cobertura
    #     summaryFileLocation: '$(System.DefaultWorkingDirectory)/sonic-gnmi/coverage.xml'
    #   displayName: 'Publish coverage'
