#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make build

override_dh_auto_install:
	mkdir -p debian/sonic-ops-server/usr/bin
	cp bin/sonic-ops-server debian/sonic-ops-server/usr/bin/

override_dh_auto_clean:
	make clean
	dh_auto_clean