Source: sonic-gnmi
Section: devel
Priority: optional
Maintainer: Jipan Yang <jipan.yang@alibaba-inc.com>
Build-Depends: debhelper (>= 8.0.0),
Standards-Version: 3.9.3
Homepage: https://github.com/sonic-net/sonic-gnmi
XS-Go-Import-Path: github.com/sonic-net/sonic-gnmi

Package: sonic-gnmi
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: SONiC gNMI
 sonic-gnmi
