Source: sonic-gnmi
Section: devel
Priority: optional
Maintainer: Gang Lv <ganglv@microsoft.com>
Build-Depends: debhelper (>= 8.0.0),
Standards-Version: 1.0.0
Homepage: https://github.com/sonic-net/sonic-gnmi
XS-Go-Import-Path: github.com/sonic-net/sonic-gnmi

Package: sonic-gnmi
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: SONiC gnmi
 sonic-gnmi
